<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    
    <p>You are receiving this email because you requested a password reset for your account.</p>
    
    <p>Please click the link below to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    
    <p>If you didn't request a password reset, you can ignore this email.</p>
    
    <p>Thanks,<br> 
    Your Website Team</p>
</body>
</html>
